---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none">
		<p>
			¡Hola! Soy Cristo (cristotodev en redes sociales), un apasionado del
			desarrollo de software con más de 6 años de experiencia en el campo.
			Durante este tiempo, he centrado gran parte de mi trabajo en el
			backend, pero también tengo habilidades sólidas en el frontend. Mi
			enfoque versátil me ha permitido crear aplicaciones completas, desde
			la lógica del servidor hasta la interfaz de usuario, brindando
			soluciones integrales a diversos proyectos.
		</p>

		<p>
			Fuera del horario laboral, mi pasión por la programación se extiende
			a mis redes sociales, donde comparto contenido relacionado con
			tecnología y desarrollo. Me encanta mantenerme al día con las
			últimas tendencias y compartir mis conocimientos con la comunidad en
			línea.
		</p>

		<p>
			Además de mi interés por la tecnología, encuentro placer en
			sumergirme en las páginas de un buen libro. Creo firmemente en la
			importancia del aprendizaje continuo y la exploración de nuevos
			conceptos.
		</p>

		<p>
			Fuera del mundo digital, encuentro mi equilibrio en el ajedrez.
			Desde una edad temprana, he competido a nivel profesional, y aunque
			ahora lo considero más un hobby, la estrategia y la concentración
			requeridas en el juego continúan inspirándome en mi enfoque hacia
			los desafíos tanto en la vida como en el desarrollo de software.
		</p>

		<p>
			¡Gracias por visitar mi página y espero tener la oportunidad de
			colaborar contigo en el futuro!
		</p>
	</div>
</PageLayout>
