---
const today = new Date();
let hasUserMadeChoice = false;
---

<section
    id="cookies"
    class="fixed max-w-md p-4 mx-auto bg-gray-100 border border-gray-200 dark:bg-gray-800 left-12 bottom-16 dark:border-gray-700 rounded-2xl"
    style={`display: ${hasUserMadeChoice ? "none" : "block"};`}
>
    <h2 class="font-semibold text-gray-800 dark:text-white">游꼵 Cookies</h2>

    <p class="mt-4 text-sm text-gray-600 dark:text-gray-300">
        Utilizamos cookies de Google Analytics para analizar el tr치fico de
        nuestra p치gina web. Esto nos ayuda a mejorar continuamente. Aceptas el
        uso de estas cookies al navegar por nuestro sitio. Para m치s informaci칩n,
        consulta la pol칤tica de cookies de Google Analytics.
    </p>

    <div class="flex items-center justify-between mt-4 gap-x-4 shrink-0">
        <button
            id="denied"
            class="text-xs text-gray-800 underline transition-colors duration-300 dark:text-white dark:hover:text-gray-400 hover:text-gray-600 focus:outline-none"
            onclick="handleButtonClick('deny')"
        >
            Rechazar
        </button>

        <button
            id="accept"
            class="text-xs bg-gray-900 font-medium rounded-lg hover:bg-gray-700 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none"
            onclick="handleButtonClick('accept')"
        >
            Aceptar
        </button>
    </div>
</section>