---
import ButtonIcon from "../components/ButtonIcon.astro";
import Email from "../icons/email.astro";
import Github from "../icons/github.astro";
import Linkedin from "../icons/linkedin.astro";
---

<div class="flex gap-4 mb-4">
    <img
        src="img/cara.webp"
        alt="Cristo Est칠vez"
        class="rounded-full shadow-lg size-16"
    />
</div>
<div>
    <h1
        class="text-4xl font-bold text-gray-800 sm:text-5xl"
    >
        Hey, soy cristotodev &#128587;
    </h1>
    <p
        class="mt-6 text-xl text-gray-800  [&>strong]:text-yellow-500 [&>strong]:font-semibold"
    >
        +6 a침os de experiencia. <strong
            >Desarrollador de Software, Formador y Creador de Contenido sobre Programaci칩n</strong
        > de Tenerife, Espa침a 游쀯릖.
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <ButtonIcon text="Cont치ctame" url="mailto:cristotodev@outlook.com">
            <Email />

        </ButtonIcon>
        <ButtonIcon text="Linkedin" url="https://es.linkedin.com/in/cristotodev">
            <Linkedin width={24} height={24}/>
        </ButtonIcon>
        <ButtonIcon text="GitHub" url="https://github.com/cristotodev">
            <Github width={24} height={24}/>
        </ButtonIcon>
    </nav>
</div>
