---
import Tool from "../components/Tool.astro";
import { TOOLS } from "../consts";
---

<h2>&#128295; Herramientas</h2>

<div
    class="p-5 mt-12 grid gap-3 select-none xl:grid-cols-8 md:grid-cols-4 sm:grid-cols-3 bg-gray-100 rounded-xl"
>
    {
        TOOLS.map(({ id, name }) => (
            <Tool tool={name}>
                <img
                    src={`/img/tools/${id}.svg`}
                    loading="lazy"
                    fetchpriority="low"
                    alt={`Logo de ${name}`}
                    class=""
                />
            </Tool>
        ))
    }
</div>
